.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 10em;
}

.btn {
  margin: 1rem;
}

.tbl-contents {
  text-align: center;
}

.payrollSave {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.navbar {
  margin: 5rem 10rem 1rem 10rem;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 20px;
  cursor: pointer;
}

.form-step {
  display: none;
}
.form-step.active {
  display: block;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  background-color: #f4f4f4;
}

.sidebar {
  width: 240px;
  background-color: #0c2b4e;
  color: white;
  flex-shrink: 0;
}

.sidebar .nav-link {
  color: #f4f4f4;
  padding: 12px 20px;
  border-radius: 6px;
  margin: 4px 10px;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: #1a3d64;
  color: #f4f4f4;
}

.content {
  flex: 1;
  padding: 40px;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.toggle-btn {
  display: none;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -240px;
    top: 0;
    bottom: 0;
    transition: all 0.3s;
  }

  .sidebar.show {
    left: 0;
  }

  .toggle-btn {
    display: block;
  }
}
